/* Estilos del menú de hamburguesa */
.hamburger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.hamburger-menu span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* Toggle del menú */
#menu-toggle {
    display: none;
}

#menu-toggle:checked + .hamburger-menu span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-toggle:checked + .hamburger-menu span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .hamburger-menu span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Estilo del menú */
.main-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    background-color: #b71c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    z-index: 1;
}

#menu-toggle:checked ~ .main-nav {
    left: 0;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-nav ul li {
    margin: 15px 0;
    width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible */
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 10px 0;
}
